/*#profile{
    display: block;
    margin: 0 auto;
    width: 180px;
    border-radius: 50%;
}*/

#navbar-inverse {
    background-color: #2c3e50 !important;
    border-color: #080808;
    background-image: linear-gradient(to bottom,#2c3e50 0,#2c3e50 100%)
}

#profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.navbar-nav > li > a{
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #818181;
}

.navbar-nav > li > a:hover{
    color: #f1f1f1;
}

#customer{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#profile2{
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (min-width:768px) {
    .container {
        width: 503px
    }
}

@media (min-width:992px) {
    .container {
        width: 723px
    }
}

@media (min-width:1200px) {
    .container {
        width: 923px
    }
}

@media (min-width:1432px) {
    .container {
        width: 1170px
    }
}

body {
    padding-top: 70px
}

.navbar-fixed-left,
.navbar-fixed-right {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030
}

@media (min-width:768px) {
    .navbar-fixed-left,
    .navbar-fixed-right {
        width: 232px;
        height: 100vh;
        border-radius: 0
    }
    .navbar-fixed-left .container,
    .navbar-fixed-right .container {
        padding-right: 0;
        padding-left: 0;
        width: auto
    }
    .navbar-fixed-left .navbar-header,
    .navbar-fixed-right .navbar-header {
        float: none;
        padding-left: 15px;
        padding-right: 15px
    }
    .navbar-fixed-left .navbar-collapse,
    .navbar-fixed-right .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
        max-height: none
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav,
    .navbar-fixed-right .navbar-collapse .navbar-nav {
        float: none!important
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav>li,
    .navbar-fixed-right .navbar-collapse .navbar-nav>li {
        width: 100%
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav>li.dropdown .dropdown-menu,
    .navbar-fixed-right .navbar-collapse .navbar-nav>li.dropdown .dropdown-menu {
        top: 0
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right,
    .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right {
        margin-right: 0
    }
}

@media (min-width:768px) {
    body {
        padding-top: 0;
        margin-left: 232px
    }
    .navbar-fixed-left {
        right: auto!important;
        left: 0!important;
        border-width: 0 1px 0 0!important
    }
    .navbar-fixed-left .dropdown .dropdown-menu {
        left: 100%;
        right: auto;
        border-radius: 0 3px 3px 0
    }
    .navbar-fixed-left .dropdown .dropdown-toggle .caret {
        border-top: 4px solid transparent;
        border-left: 4px solid;
        border-bottom: 4px solid transparent;
        border-right: none
    }
}